@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&family=Roboto:wght@100;400&family=Source+Sans+Pro:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&family=Roboto:wght@100;400&family=Source+Sans+Pro:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&family=Roboto:wght@100;400&family=Source+Sans+Pro:wght@300;700&display=swap');
[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none;
}
.navBardemoBasicUsage md-content .ext-content {
    padding: 50px;
    margin: 20px;
    background-color: #FFF2E0;
  }
  body{
    background: #9D50BB;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #6E48AA, #9D50BB);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #6E48AA, #9D50BB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
height: 100%;
  }
  .details_page{
      border:purple solid 2px;
      border-radius: 10px;
      position: absolute;
      left: 25%;
      top: 20%;
      max-width: 70vw;
      min-width: 20vw;
  }
  .form_details{
      margin-left: 2em;
      margin-right: 1em;
  }
  .form_heading{
    text-align: center;
      margin-left: 8em;
      margin-right: 5em;
      margin-top: 1em;
  }
  .buttondemoBasicUsage section {
    border-radius: 3px;
    text-align: center;
    margin: 1em;
    position: relative !important;
  }
  .buttondemoBasicUsage section .md-button {
    margin-top: 16px;
    margin-bottom: 16px;
  }
  .buttondemoBasicUsage .label {
    position: absolute;
    bottom: 5px;
    left: 7px;
    font-size: 14px;
  }

.inputdemoErrors .inputErrorsApp {
  min-height: 48px;
}
.inputdemoErrors md-input-container > p {
  font-size: 0.8em;
  text-align: left;
  width: 100%;
}
.backbutton{
  position:relative;
  border-radius:4px;
  padding: 4px;
  color:white
}

.saveandnext{
  border-radius:4px;
  padding: 4px;
}

.skill_page{
  border:purple solid 2px;
  border-radius: 10px;
  margin-left: 20vw;
  margin-top: 20vh;
  max-width: 60vw;
  min-width: 20vw;
  
}
.addskill{
  position:relative;
  left:-1em;
  border-radius:4px;
  padding: 4px;
  width: 40px;
  height: 50px;
}

.educationdetails{
  min-width: 40vw;
  min-height: 40vh;
  height: 65vh;
  width: 55vw;
  border-radius:10px;
  padding-right: 20px;
  position: absolute;
  left:20%;
  top: 20%;
}
#resume_div{
width: 70vw;
padding: 2em 2em;
margin-left: 2vw;
margin-right: 4vw;
margin-top: 2vh;
border-radius: 8px;
overflow-y: scroll;
overflow-x: hidden;
margin-bottom: 4vh;
}
.workexperience{
  min-width: 40vw;
  min-height: 40vh;
  max-height: 90vh;
  width: 60vw;
  border-radius:10px;
  padding-right: 20px;
  position: absolute;
  left:20%;
  top: 10%;
}
.resume_container{
  background-color: #00C9FF;  /* fallback for old browsers */
  background-color: -webkit-linear-gradient(to left, #92FE9D, #00C9FF);  /* Chrome 10-25, Safari 5.1-6 */
  background-color: linear-gradient(to right, #92FE9D, #00C9FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  height: 100%;
}
#fullname{
  margin-top:1em;
  font-family: 'Roboto', sans-serif;
  font-size: xxx-large;
}
#description{
  margin-top: 1em;
  font-family: 'Nunito', sans-serif;
  max-width: 50%;
}
#designation{
  margin-top: 1em;
  font-family: 'Nunito', sans-serif;
  max-width: 50%;
  font-size: x-large;
  font-weight: bold;
}
#contact{
  margin-top: 1em;
  
  font-family: 'Nunito', sans-serif;
  max-width: 50%;
  font-size: large;
}
.resume_item{
  padding:auto;
  font-family: 'Nunito', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Source Sans Pro', sans-serif;
  margin-top: 1em;
  
}

.professional_summary{
 
}
.item_value{
  margin-top: 2em;
}
.employeement_history{
  
}
.employeement_history_companyname{
  font-size:medium;
  font-weight: bold;
}
.skill_item{
  margin-left: 1em;
}
#download_resume{
  margin-top: 2em;
  padding:8px 8px;
  border-radius:4px;
  color:white;

}
.heading{
  border-radius: 10px;
  padding-bottom:1em;
}