<div ng-controller="summaryCtrl" layout="column" ng-cloak >
    <md-content layout-padding class="details_page">
      <div class="form_heading">
        <h2>Write a brief summary for your resume .......</h2>
      <p style="position: relative;top:-16px; ;">Try to include domain, skills and interests.</p>
      </div>
       <form name="education_form" class="form_details">
        <div layout="row">
            <md-input-container flex="95" class="md-block">
                <label>Summary</label>
                <textarea ng-model="summaryForm.summary" md-maxlength="250" rows="5" md-select-on-focus></textarea>
              </md-input-container>
        </div>

  
        <div layout="row">
          <md-button class="md-raised md-accent backbutton" flex="15" ng-click="navigateBack('/skills')" style="color:white">Back</md-button>
          <div flex="65"></div>
          <md-button type="submit" ng-disabled="education_form.$invalid" class="md-raised md-primary saveandnext" flex="20" ng-click="createResume(summaryForm)">Create Resume</md-button>
        </div>
  
     </form>
     
  
  
  
  </div>